:root {
 --space-xs: 0.25rem;
 --space-sm: 0.5rem;
 --space-md: 1rem;
 --space-lg: 1.5rem;
 --space-xl: 2rem;

 --color-green: #0f766d;
 --color-grey: #f2f2f2;
 --color-dark-grey: #e5e5e5;
}

#dashboard, .dashboard-content{
    gap: var(--space-md);
}

#dashboard{
    display: flex;
    flex-direction: row;
}

aside, .card-statistics, .categories{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid var(--color-grey);
    padding: var(--space-xl);
    border-radius: 15px;
}

aside{
    width: 25vw;
    padding: var(--space-md);
}

aside > nav > ul{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-xl);
}

.aside-title{
    margin-top: 2vh;
}

aside > nav > ul > li > a{
    color: #000;
}

aside > nav > ul > li> a:hover{
    text-decoration: underline;
}

.dashboard-content{
    width: 100%;
}

.statistics{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: var(--space-md);
}

.card-statistics{
    /* aspect-ratio: 1/.7; */
    display: grid;
    justify-items: center;
    background-color: #fff;
    border: 2px solid var(--color-grey);
    border-radius: 10px;
    padding: var(--space-lg);
    /* min-height: 100px;    */
}
.card-title{
    align-self: start;
    font-weight: 200;
    color: #0000008c;
}

.desc-card{
    align-self: center;
    font-size: 2em;
    font-weight: bold;
}

.categories{
    padding: var(--space-md);
    gap: var(--space-md);
}

.categories-title{
    margin-top: 3vh;
}

.categories-list{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-lg);
}

.categorie-search-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  padding: var(--space-md);
}

.categorie-list-title{
    width: 15vw;
    /* padding-right: var(--space-xl); */
}

.categorie-list-title, .item-list{
    padding-bottom: var(--space-md);
}

.categorie-list-title, .item-list > p{
    padding-left: var(--space-sm);
}

.item-list, .categorie-list-title{
    border-bottom: 1.5px solid var(--color-dark-grey);
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.item-list p{
    justify-self: start;
}

.categorie-item-actions{
    display: flex;
    gap: var(--space-sm);
    justify-self: center;
}

.categorie-button{
    padding: var(--space-md);
    border-radius: 10px;
    border: 1px solid var(--color-green);
    background: transparent;
    color: var(--color-green);
    cursor: pointer;
    transition: 0.2s;
    font-size: 1em;
}

.categorie-button:hover{
    background: var(--color-green);
    color: #fff;
}

@media (max-width: 900px){
    #dashboard{
        flex-direction: column-reverse;
    }

    aside{
        width: 100%;
    }

    aside > nav > ul{
        gap: var(--space-md);
    }

}

@media (max-width: 640px){
    .item-list{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 426px){
    .title{
        text-align: center;
    }

    .section-container{
        margin-top: 20vh !important;
    }

    aside > nav > ul{
        text-align: center;
    }

    .categories{
        align-items: center;
        justify-content: center !important;
    }

    .categorie-list-title{
        width: 100%;
        text-align: center;
    }

    .item-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-lg);
    }

    .categorie-button{
        width: 30vw;
        font-size: .8em;
    }
}