/* Estilos específicos da seção de Categorias no painel admin */

.categories {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: var(--space-lg);
    gap: var(--space-md);
}

.categories-title {
    margin-top: 3vh;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-lg);
}

.categorie-search-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    padding: var(--space-md);
}

.categorie-list-title {
    width: 15vw;
}

.categorie-list-title,
.item-list {
    padding-bottom: var(--space-md);
}

.categorie-list-title,
.item-list > p {
    padding-left: var(--space-sm);
}

.item-list,
.categorie-list-title {
    border-bottom: 1.5px solid var(--color-dark-grey);
}

.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.item-list p {
    justify-self: start;
}

.categorie-item-actions {
    display: flex;
    gap: var(--space-sm);
    justify-self: center;
}

.categorie-button {
    padding: var(--space-md);
    border-radius: 10px;
    border: 1px solid var(--color-green);
    background: transparent;
    color: var(--color-green);
    cursor: pointer;
    transition: 0.2s;
    font-size: 1em;
}

.categorie-button:hover {
    background: var(--color-green);
    color: #fff;
}

@media (max-width: 640px) {
    .item-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 426px) {
    .categories {
        align-items: center;
        justify-content: center;
    }

    .categorie-list-title {
        width: 100%;
        text-align: center;
    }

    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-lg);
    }

    .categorie-button {
        width: 30vw;
        font-size: 0.8em;
    }
}
