footer{
    font: inherit;
    border-top: 1px solid rgba(189, 187, 187, 0.5);
    padding: 20px;
}

footer p{
    font-size: 1rem;
    color: rgba(133, 130, 130, 0.699);
}

.botoes-footer{
    display: flex;
    gap: 5%;
}

button{
    border: 1px solid rgba(189, 187, 187, 0.5);
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-align: left;
    width: 14vw;
}