*{
    margin: 0;
    padding: 0;
}

:root {
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
   
    --color-green: #0f766d;
    --color-grey: #f2f2f2;
    --color-dark-grey: #e5e5e5;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #d4d3d348
}

#input-email{
    padding: 8px;
    border: 1px solid rgba(189, 187, 187, 0.5);
    border-radius: 5px;
}

#input-senha{
    padding: 8px;
    border: 1px solid rgba(189, 187, 187, 0.5);
    border-radius: 5px;
}

.contender-login{
    background-color: #fff;
    justify-content: flex-end;
    padding: 20px;
    border: 1px solid rgba(189, 187, 187, 0.5);
}

.conteudo-login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#button-entrar{
    background-color: var(--color-green);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#button-google{
    background-color: white;
    color: var(--color-green);
    border: 0.1px solid var(--color-green);
    font-size: 14px; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#button-google:hover{
    background-color: var(--color-green);
    color: white;
    transition: all 0.3s ease;
}

.botoes-login{
    display: flex;
    gap: 10px;
}

label{
    color: var(--color-green);
}

a{
    text-decoration: none;
    color: var(--color-green);
}